#copyButton, #helpMessage, #commandsLabel {
    -fx-text-fill: #3c2f2f;
}

#copyButton {
    -fx-background-color: #fcd0a8;
}

#copyButton:hover {
    -fx-background-color: #c4a07a;
}

#copyButton:armed {
    -fx-background-color: #a0785a;
}

#helpMessageContainer {
    -fx-background-color: #ffdab9;
}

#commandScrollPane, #commandScrollPane > .viewport {
    -fx-background-color: #ffdab9;
}
